<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../../assets/images/fire.png" alt="Not Found" onerror="this.src='../../assets/images/no-image-icon.jpg';">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{profile_name}}</h3>
          <h6>Phone.No : 123456789</h6> 
          <h6 >Email :trilo@gmail.com</h6>
          
          <h5 >Address : BBsr</h5>
          <h6 >State : Odisha</h6>
          <h6 >Gender : Male</h6>
          <h5 >DOB : 13/05/1999</h5>
        </div>
        <ion-button expand="full" color="secondary">Done</ion-button>
        <ion-button expand="full" color="warning"><ion-icon name="create"></ion-icon>Edit</ion-button>

      </div>
    </div>
</ion-content>